<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Setting</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css" />
        <link rel="stylesheet" href="../assets/css/style.css" />
    </head>
    <body class="bg-gray-100">
        <!-- header -->
        <header>
            <nav>
                <div>
                    <h1>
                        <a href="index.html">
                            AgAs
                        </a>
                    </h1>
                    <ul class="navbar__menu">
                        <li>
                            <a href="question.html">TRY IT</a>
                        </li>
                        <li>
                            <a href="login.html">LOGIN</a>
                        </li>
                        <li>
                            <a href="question.html">LOGOUT</a>
                        </li>
                        <li>
                            <a href="join.html">JOIN</a>
                        </li>
                        <li>
                            <a href="ad_type.html">AD TYPE</a>
                        </li>
                        <li>
                            <a href="https://github.com/Hyunwooz/OrmiProject">LOUNGE</a>
                        </li>
                        <li>
                            <a href="https://github.com/Hyunwooz/OrmiProject">PROFILE</a>
                        </li>
                    </ul>
                    <button class="navbar__toggle" type="button">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </nav>
        </header>
        <!-- // header -->
        <!-- main -->
        <main>
            <div >
                <div >
                    <div>
                        <div>
                            <p>Search AD</p>
                            <p>
                                Google 검색 네트워크에서는 사용자가 지정된 키워드와 관련된 검색어를 사용하여 검색하는 경우 검색결과 근처에 광고가 게재될 수 있습니다. 키워드가 사용자 검색과 관련이 있을 경우 광고가 Google 검색 결과 및 기타 검색 사이트에 게재될 수 있습니다.
                            </p>
                            <img src="../assets/img/search_sample.png" alt="">
                        </div>
                        <div>
                            <p>Display AD</p>
                            <p>
                                디스플레이 캠페인은 Google 디스플레이 네트워크에 눈길을 끄는 광고를 게재합니다. 디스플레이 네트워크를 이용하면 수백만 개의 웹사이트와 앱, Google 서비스(YouTube, Gmail 등)를 둘러보는 사용자를 대상으로 광고를 게재할 수 있습니다.
                            </p>
                            <img src="../assets/img/display_sample.png" alt="">
                        </div>
                        <div>
                            <p>Video AD</p>
                            <p>
                                동영상 광고를 사용하면 YouTube 동영상과 Google 동영상 파트너에서 운영하는 웹사이트 및 앱에 광고를 게재할 수 있습니다.
                            </p>
                            <img src="../assets/img/video_sample.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div>
                <div>
                    <strong>Automatically</strong>
                    <p>generate advertising scripts</p>
                    <p>using <strong>ChatGPT</strong></p>
                </div>
                <div >
                    <strong>ChatGPT연동 프로젝트 입니다 :)</strong>
                    <p>
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <script src="../assets/js/menu.js"></script>
        <script src="../assets/js/question.js" type="module"></script>
        <script src="../assets/js/slide.js"></script>
    </body>
</html>
