<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Service</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/detail.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.svg" alt="AgAs">
                    </a>
                </h1>
                <ul class="navbar__menu">
                    <li class="is_logined">
                        <a href="/src/view/question.html">TRY IT</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/lounge.html">LOUNGE</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined">
                        <a href="/src/view/mypage.html" class="avatar_img_li">
                            <img class="avatar_img" alt="프로필">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- // header -->
        <!-- main --> 
        <main>
            <section class='post_section'>
                <div class="post_info">
                    <h2 class='detail_title'>TITLE!</h2>
                    <div class="author-wrap">
                        <div class="author_profile">
                            <img class="avatarImg" src="" alt="작성자 프로필 이미지">
                            <!-- <p class="writer"></p> -->
                        </div>
                        <div class="created"></div>
                        <div class="views"></div>
                    </div>
                    <div>
                        <button>삭제</button>
                        <button>공개</button>
                        <button>비공개</button>
                    </div>
                </div>
                <div class="post_content"></div>
            </section>
            
            <section>
                <h3 class='comment_title'>Comments</h3>
                <form class='comment_input' style="display: flex; align-items: center;" action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
                    <img src="" alt="" class="loginuser_avatar" />
                    <button calss="comment-submit" type="submit" value=""><i class="fa-solid fa-paper-plane"></i></button>
                </form>
                <ul class='post_comments'>
                        <!-- <li class='post_comment'>
                            <img class='comment_writer_avatar' src={{comment.writer.profile.avatarUrl.url}}></img>
                            <div class='comment_writer_info'>
                                <p class='comment_writer_name'>{{ comment.writer.profile.name }}</p>
                                <p class='comment_writer_content'>{{ comment.content }}</p>
                            </div>
                            {% if request.user == comment.writer %}
                            <form class='comment_writer_delete' action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn-delete" value=""></input>
                            </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% else %}
                        <li>댓글이 없습니다.</li>
                    {% endif %} -->
                </ul>
            </section>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <div class="footer_slogun">
                    <strong>Automatically</strong>
                    <p>generate advertising scripts</p>
                    <p>using <strong>ChatGPT</strong></p>
                </div>
                <div class="footer_author">
                    <strong>ChatGPT연동 프로젝트 입니다 :)</strong>
                    <p>
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <script src="/src/assets/js/is_logined.js"></script>
        <script src="/src/assets/js/user/logout.js"></script>
        <script src="/src/assets/js/detail.js" type="module"></script>
    </body>
</html>
