<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
        <link rel="stylesheet" href="../assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/join.css">
    </head>
    <body>
        <main>
    		<form class="user-join" method="post">
                <h2>JOIN</h2>
                <div class="join_input_wrap">
                    <input class="user-join__email" type="email" placeholder="이메일을 적어주세요.">
                    <input class="user-join__password" type="password" placeholder="비밀번호를 적어주세요.">
                    <input class="user-join__password_valid" type="password" placeholder="비밀번호를 확인하세요.">
                </div>
                <input class="join_btn" type="submit" value="회원가입">
            </form>
        </main>
        <script src="../assets/js/user/join.js"></script>
    </body>
</html>
