<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Service</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/mypage.css" />
    </head>
    <body>
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.svg" alt="AgAs">
                    </a>
                </h1>
                <ul class="navbar__menu">
                    <li class="is_logined">
                        <a href="/src/view/question.html">TRY IT</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/lounge.html">LOUNGE</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined">
                        <a href="/src/view/profile.html">
                            <img class="avatar_img" alt="프로필">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- // header -->
        <!-- main --> 
        <main>
            <section class='profile_section'>
                <h3>😁 Profile</h3>
                <aside class="user_info">
                    <img src="/src/assets/img/sample_banner.png" alt="" class="user-avatar" />
                    <p class="user-name">User Name</p>
                    <p class="user-description">Please Login :)</p>
                </aside>
                <h3>💻 Repo</h3>
                <aside>
                    <ul class="sns">
                        <li>
                            <a href="https://github.com/Hyunwooz/Django-blog">
                                GitHub
                            </a>
                        </li>
                    </ul>
                </aside>
                <h3>📱 Contact</h3>
                <aside>
                    <ul class="sns">
                        <li>
                            <a href="#">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Instagram
                            </a>
                        </li>
                    </ul>
                </aside>
            </section>
            <section class='post_section'>
                <p class='mypage_title'>🙋‍♂️ My Advertisement List</p>
                <div class="my_ad_wrap">
                    <div class="my_advertisement">
                    </div>
                    <div class="my_advertisement">
                    </div>
                    <div class="my_advertisement">
                    </div>
                    <div class="my_advertisement">
                    </div>
                    <div class="my_advertisement">
                    </div>
                    <div class="my_advertisement">
                    </div>
                </div>
            </section>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <div class="footer_slogun">
                    <strong>Automatically</strong>
                    <p>generate advertising scripts</p>
                    <p>using <strong>ChatGPT</strong></p>
                </div>
                <div class="footer_author">
                    <strong>ChatGPT연동 프로젝트 입니다 :)</strong>
                    <p>
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <script src="/src/assets/js/is_logined.js"></script>
        <script src="/src/assets/js/user/logout.js"></script>
    </body>
</html>
