<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AgAs - Setting</title>
        <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/assets/css/reset.css" />
        <link rel="stylesheet" href="/src/assets/css/style.css" />
        <link rel="stylesheet" href="/src/assets/css/question.css" />
    </head>
    <body class="bg-gray-100">
        <!-- header -->
        <header>
            <nav class="header">
                <h1>
                    <a href="/index.html">
                        <img src="/src/assets/img/logo.svg" alt="AgAs">
                    </a>
                </h1>
                <ul class="navbar__menu">
                    <li class="is_logined">
                        <a href="/src/view/question.html">TRY IT</a>
                    </li>
                    <li class="always_show">
                        <a href="/src/view/lounge.html">LOUNGE</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/login.html">LOGIN</a>
                    </li>
                    <li class="is_not_logined">
                        <a href="/src/view/join.html">JOIN</a>
                    </li>
                    <li class="is_logined">
                        <a class="logout_btn" href="#">LOGOUT</a>
                    </li>
                    <li class="is_logined">
                        <a href="/src/view/mypage.html" class="avatar_img_li">
                            <img class="avatar_img" alt="프로필">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- // header -->
        <!-- main -->
        <main>
            <aside>
                <h3>✔️ Progress</h3>
                <div class="progress_wrap">
                    <div class="q_count">
                        <p class="q_count_changing">1 </p>
                        <p>/</p>
                        <p>5</p>
                    </div>
                    <div>
                        <p class="selected_q_title">✅ 광고 목표</p>
                        <p class="selected_q_anwser">판매</p>
                    </div>
                    <div>
                        <p class="selected_q_title">✅ 광고 유형</p>
                        <p class="selected_q_anwser">검색</p>
                    </div>
                    <div>
                        <p class="selected_q_title">✅ 카테고리</p>
                        <p class="selected_q_anwser">자동차</p>
                    </div>
                    <div>
                        
                        <p class="selected_q_title">✅ 키워드</p>
                        <p class="selected_q_anwser">제주 자동차 여행</p>
                    </div>
                    <div>
                        <p class="selected_q_title">✅ 타겟</p>
                        <p class="selected_q_anwser">남자 | 13세 이하</p>
                    </div>
                </div>
            </aside>
            <form class="question_form" method="post">
                <section id="question1">
                    <h2>1️⃣ 광고의 목표가 무엇인가요?</h2>
                    <div>
                        <fieldset class="campaignGoal">
                            <div class="subtitle">👉 목표 선택하기</div>
                            <div class="q_select_wrap">
                                <div class="q_select">
                                    <label for="판매" >
                                        <div>
                                            <p class="q_select_title">판매</p>
                                            <i class="fa-solid fa-gift"></i>
                                            <p class="q_select_disc">온라인, 앱, 전화, 매장을 통한 판매를 촉진합니다.</p>
                                        </div>
                                    </label>
                                    <input required type="radio" id="판매" name="campaignGoal" value="판매">
                                </div>
                                <div class="q_select">
                                    <label for="잠재_고객_유치" >
                                        <div>
                                            <p class="q_select_title">잠재 고객 유치</p>
                                            <i class="fa-solid fa-users"></i>
                                            <p class="q_select_disc">고객의 액션을 유도하여 리드 및 다른 전환를 늘립니다.</p>
                                        </div>
                                    </label>
                                    <input type="radio" id="잠재_고객_유치" name="campaignGoal" value="잠재_고객_유치">
                                </div>
                                <div class="q_select">
                                    <label for="웹사이트_트래픽" >
                                        <div>
                                            <p class="q_select_title">웹사이트 트래픽</p>
                                            <i class="fa-solid fa-chart-column"></i>
                                            <p class="q_select_disc">관련성이 높은 사용자가 웹사이트를 방문하도록 유도합니다.</p>
                                        </div>
                                    </label>
                                    <input type="radio" id="웹사이트_트래픽" name="campaignGoal" value="웹사이트_트래픽">
                                </div>                         
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section id ="question2" class="hidden">
                    <h2>2️⃣ 광고의 유형은 무엇인가요?</h2>
                    <div>
                        <fieldset class="campaignType" required>
                            <div class="subtitle">
                                <p>👉 유형 선택하기</p>
                            </div>
                            <div class="q_select_wrap">
                                <div class="q_select">
                                    <label for="검색" >
                                        <div>
                                            <p class="q_select_title">검색</p>
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <p class="q_select_disc">검색에서 구매 의도가 높은 고객에게 노출합니다.</p>
                                        </div>
                                    </label>
                                    <input required type="radio" id="검색" name="campaignType" value="검색">
                                </div>
                                <div class="q_select">
                                    <label for="디스플레이" >
                                        <div>
                                            <p class="q_select_title">디스플레이</p>
                                            <i class="fa-solid fa-display"></i>
                                            <p class="q_select_disc">눈에 잘 띄는 광고 소재로 사이트와 앱을 통해 고객에게 도달합니다.</p>
                                        </div>
                                    </label>
                                    <input type="radio" id="디스플레이" name="campaignType" value="디스플레이">
                                </div>
                                <div class="q_select">
                                    <label for="동영상" >
                                        <div >
                                            <p class="q_select_title">동영상</p>
                                            <i class="fa-brands fa-youtube"></i>
                                            <p class="q_select_disc">Youtube 시청자에게 도달하여 전환을 늘립니다.</p>
                                        </div>
                                    </label>
                                    <input type="radio" id="동영상" name="campaignType" value="동영상">
                                </div>                        
                            </div>
                        </fieldset>
                    </div>
                </section>
                <section id="question3" class="hidden">
                    <h2>3️⃣ 광고의 카테고리가 무엇인가요?</h2>
                    <div>
                        <fieldset class="campaignCategory" aria-required="true">
                            <div class="subtitle">👉 카테고리 선택하기</div>
                            <div class="campaignCategoryValue"></div>
                        </fieldset>
                    </div>
                </section>
                <section id="question4" class="hidden">
                    <h2>4️⃣ 세부 키워드(단어)를 입력해주세요.</h2>
                    <div>
                        <fieldset class="campaignKeyword" aria-required="true">
                            <div class="subtitle">👉 키워드 입력</div>
                                <div class="keyword_input_wrap">
                                    <input
                                        type="text"
                                        class="keyword_input"
                                        rows="1"
                                        name="keyword"
                                        required
                                        placeholder="ex) 제주 자전거 여행"></input>
                                </div>
                        </fieldset>
                    </div>
                </section>
                <section id="question5" class="hidden">
                    <h2>5️⃣ 광고 타겟팅 설정하기</h2>
                    <fieldset>
                        <div class="subtitle">👉 타겟팅 설정하기</div>
                        <div class="taget_Wrap">
                            <div>
                                <p class="target_title">성별</p>
                                <div>
                                    <select class="targetGender" name="성별" id="성별">
                                        <option value="" selected disabled hidden>선택</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <p class="target_title">나이</p>
                                <div>
                                    <select class="targetAge" name="연령대" id="연령대">
                                        <option value="" selected disabled hidden>선택</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    
                </section>
                <div class="nextStep_div">
                    <button class="nextStep hidden">제출</button>
                </div>
                <div class="q_move_btn_wrap">
                    <button class="question_prev hidden">
                        이전</i>
                    </button>
                    <button class="question_next">
                        다음
                    </button>
                </div>
            </form>
        </main>
        <!-- // main -->
        <!-- footer -->
        <footer>
            <div class="footer_wrap">
                <div class="footer_slogun">
                    <strong>Automatically</strong>
                    <p>generate advertising scripts</p>
                    <p>using <strong>ChatGPT</strong></p>
                </div>
                <div class="footer_author">
                    <strong>ChatGPT연동 프로젝트 입니다 :)</strong>
                    <p>
                        Copyright 2023. Chilli All rights reserved.
                    </p>
                </div>
            </div>
        </footer>
        <!-- // footer -->
        <script src="/src/assets/js/auth.js"></script>
        <script src="/src/assets/js/is_logined.js"></script>
        <script src="/src/assets/js/user/logout.js"></script>
        <script src="/src/assets/js/question.js" type="module"></script>
        <script src="/src/assets/js/slide.js"></script>
    </body>
</html>
