main {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 110px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.document_section {
    width: 18%;
    padding: 20px 30px 20px 15px;
    margin-right: 10px;
    border-right: 1px solid rgb(223, 223, 223);
    min-width: 270px;
}

.post_section {
    width: 100%;
    padding: 20px 15px 20px 30px;
}

.post_info {
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 10px;
    position: relative;
}

.detail_title {
    font-size: 28px;
    font-weight: bold;
}

.author-wrap {
    display: flex;
    margin-top: 15px;
}

.author_profile {
    display: flex;
}

.avatarImg {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
}

.created,.views {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.created::before ,.views::before {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    margin-right: 10px;
    background: rgb(197, 197, 197);
}

.post_owner_menu {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.post_owner_menu button {
    font-weight: bold;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139);
    padding: 3px 7px;
    cursor: pointer;
}

.post_owner_menu button:hover {
    background-color: rgb(56, 135, 253);
    color: white;
    border-radius: 5px;
}

.post_content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_qeustion {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 5px 10px rgba(70, 70, 70, 0.16), 0 3px 3px rgba(49, 49, 49, 0.13);
    border-radius: 5px;
    width: 450px;
    padding: 40px 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;
}
.post_qeustion h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}
.post_qeustion div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 95%;
}

.post_qeustion div>label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.post_qeustion div>input {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
}

.search_div {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 5px 10px rgba(70, 70, 70, 0.16), 0 3px 3px rgba(49, 49, 49, 0.13);
    border-radius: 5px;
    padding: 20px 80px;
    width: 620px;
}

.search_div a {
    text-decoration: none;
}

.search_div > p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.search_div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.ad_owner {
    display: flex;
    margin-bottom: 10px;
}

.ad_owner div p {
    font-size: 14px;
    margin-bottom: 3px;
}

.ad_owner div a {
    font-size: 14px;
    color: inherit;
}

.search_ad_title {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.search_ad_desc {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.search_keywords {
    font-size: 14px;
}

.video_div {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 5px 10px rgba(70, 70, 70, 0.16), 0 3px 3px rgba(49, 49, 49, 0.13);
    border-radius: 5px;
    padding: 20px 40px;
    width: 550px;
}

.video_ad_main {
    background-color: black;
    position: relative;
    padding: 10px;
}

.video_ad_main_img {
    width: 100%;
}

.video_ad_owner{
    display: flex;
    background-color: rgba(255, 255, 255, 0.753);
    height: 40px;
    position: absolute;
    padding: 5px 30px 5px 5px;
    left: 11px;
    bottom: 140px;
    align-items: center;
}

.video_ad_skip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    padding: 5px 25px;
    right: 10px;
    bottom: 150px;
    font-weight: bold;
}

.video_ad_owner > img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.video_ad_owner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video_ad_owner > div a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.video_ad_owner > div p {
    font-size: 10px;
    margin-top: 5px;
}

.block_1 {
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.637);
    height: 10px;
    width: 60%;
}
.block_2 {
    margin-top: 5px;
    background-color: rgba(128, 128, 128, 0.637);
    height: 10px;
    width: 40%;
}
.block_3 {
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.637);
    height: 30px;
    width: 40%;
}

.video_recommand_div p:first-child {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.video_recommand_div p:nth-child(2){
    padding-left: 5px;
    font-size: 14px;
}
.video_recommand_div p:nth-child(3){
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.video_recommand_div p:nth-child(4){
    padding-left: 5px;
    font-size: 14px;
}

.display_div {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 5px 10px rgba(70, 70, 70, 0.16), 0 3px 3px rgba(49, 49, 49, 0.13);
    border-radius: 5px;
    padding: 20px 40px;
    width: 550px;
}

.display_main_img {
    object-fit: cover;
    width: 100%;
    margin-bottom: 0;
}

.display_ad_banner {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.display_div>div {
    border: 1px solid black;
}

.display_div>div>div {
    display: flex;
    padding: 20px 20px 20px 20px;
}
.display_div>div>div a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.display_div>div>div p {
    font-size: 14px;
    line-height: 18px;
}

.comment_section {
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid rgb(216, 216, 216);
}

.post_comments {
    margin-top: 2.4rem;
}

.post_comment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.comment_title {
    margin-top: 15px;
    margin-bottom: 30px;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.comment_writer_avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;    
}

.loginuser_avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;    
}

.comment_input {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
}

.comment_input button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 2px;
}

.comment_input button:hover {
    color:  rgb(55, 170, 236);
}

.comment_writer_name {
    font-weight: bold;
}

.comment_writer_delete {
    display: flex;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}

.comment_input input {
    border: none;
    background: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    box-sizing: border-box;
    height: 30px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    resize: none;
}

.comment_writer_delete .btn-delete {
    width: 3rem;
    height: 3rem;
}