footer {
    background-color: rgb(174, 206, 255);
    color: rgba(0, 0, 0, 0.384);
}

.footer_wrap {
    display: flex;
    height: 120px;
    padding: 15px;
}

.footer_slogun {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 15px;
}

.footer_slogun strong {
    font-size: 30px;
    color: rgb(56, 135, 253);
}

.footer_slogun p {
    margin-top: 5px;
}

.footer_author {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
    font-size: 16px;
}

.footer_author strong {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}