.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(228, 228, 214);
    border-bottom: 1px solid black;
}

.header h1 {
    padding-left: 30px;
}

.header h1 a img {
    width: 150px;
}

.navbar__menu {
    display: flex;
    width: 350px;
    list-style: none;
    padding-right: 30px;
}

.navbar__menu li:not(.always_show) {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.always_show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar__menu li a {
    text-decoration: none;
    font-weight: bold;
}

.navbar__toggle {
    font-size: 30px;
}

video {
    width: 90%;
}