main {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 135px;
    padding-bottom: 110px;
}

section {
	padding-top: 50px;
}

.user-profile-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	width: 1000px;
}

.user-profile-form h2 {
	font-size: 3.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
	color:  rgb(102, 162, 253);;
}

.profile_info {
	display: flex;
	flex-direction: row;
}

.profile_avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 60px;
}

.user-profile-form h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.user-profile-form .user-avatar {
	width: 8rem;
	height: 8rem;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 2rem;
}

.aboutMe_div,
.name_div,
.avatar_div {
	display: flex;
	flex-direction: column;
}

.user-profile-form label{
	font-size: 14px;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.user-profile-form input{
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
}

.user-profile-form textarea {
	height: 150px;
	width: 400px;
	resize: none;
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
}

#profile-avatar {
	background: none;
}

.user-profile-form input:not(.pf-save_btn){
	background-color: rgb(255, 255, 255);
}

.pf-save_btn {
	font-weight: bold;
	margin-top: 120px;
	background: rgb(102, 162, 253);
	color: white;
	width: 332px;
	border: 1px solid black;
}

.change-pw_btn {
	width: 310px;
	height: 21px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 2rem;
	background: rgb(102, 162, 253);
	color: white;
	border-radius: 0;
	text-align: center;
	text-decoration: none;
	line-height: 21px;
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
}

.errorlist {
	font-weight: bold;
}